<div id="<%= dom_id workout %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= workout.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Starts at:</strong>
    <%= workout.starts_at %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workout", workout, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workout', edit_workout_path(workout), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
