<div id="<%= dom_id workout %>">
 <div class="quote">
  <%= link_to workout.name, workouts_path(workout) %>
  <div class="quote__actions">
    <%= button_to "Delete",
                  workout_path(workout),
                  method: :delete,
                  class: "btn btn--light" %>
    <%= link_to "Edit",
                edit_workout_path(workout),
                class: "btn btn--light" %>
  </div>
</div>

  <% if action_name != "show" %>
    <%= link_to "Show this workout", workout, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workout', edit_workout_path(workout), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
