<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Workouts</h1>
    <%= link_to 'New workout', 
                new_workout_path, 
                class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium",
                data: { turbo_frame: dom_id(Workout.new) } %>

  </div>

  <%= turbo_frame_tag Workout.new do %>
    <% if @workouts.none? %>
      <%= render "workouts/empty_state" %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "workouts" do %>
    <%= render @workouts %>
  <% end %>
</div>
