  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise:</strong>
    <%= workout_exercise.exercise.name %>
  </p>

  <%= button_to 'Delete', workout_exercise_path(workout_exercise), method: 
  :delete %>

 <%= link_to 'Add Set', new_workout_exercise_workout_set_path(workout_exercise), data: { turbo_frame: dom_id(WorkoutSet.new)}%> 

  <%= turbo_frame_tag WorkoutSet.new %>


  <div id="sets">
      <%= render workout_exercise.workout_sets, workout_exercise: workout_exercise %>
  </div>

