<%= form_with(model: [workout_exercise, workout_set], class: "contents") do |form| %>

  <div class="my-5">
    <%= form.label :set_number %>
    <%= form.number_field :set_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :weight %>
    <%= form.number_field :weight, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :reps %>
    <%= form.number_field :reps, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= link_to 'Cancel', workout_path(workout_exercise.workout), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>

    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
