<div id="<%= dom_id workout_set %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Workout exercise:</strong>
    <%= workout_set.workout_exercise_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Set number:</strong>
    <%= workout_set.set_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= workout_set.weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reps:</strong>
    <%= workout_set.reps %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this workout set", workout_set, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this workout set', edit_workout_set_path(workout_set), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
